html
  body
    a(href="/auth/github") Sign in with Github
    form(method="POST")
      p
        label Email
          input(type="text", name="email")
      p
        label Password
          input(type="password", name="password")
      p
        input(type="submit")
    a(href="/register") Go to register page
