html
  body
    form(method="POST")
      p
        label Email
          input(type="text", name="email")
      p
        label Password
           input(type="password", name="password")
      p
        input(type="submit")
    a(href="/login") Go to login page
